* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 24px 10px;
}
.header {
  height: 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0px 4px 4px #00000035;
}
.img-logo {
  height: 32px;
  width: 146px;
}
.header-div {
  width: 325px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.a1 {
  width: 122px;
  height: 46px;
  background-color: #efebff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: purple;
  text-transform: capitalize;
  text-decoration: none;
}
.a1 img {
  margin-right: 8px;
}
.a2 {
  text-transform: capitalize;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: grey;
}
.a2 img {
  margin-right: 8px;
}
.a3 {
  height: 45px;
  width: 114px;
  border-radius: 8px;
  border: 1px solid purple;
  text-decoration: none;
  color: purple;
  font-weight: bold;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
}
